@model SionFashioWebApplicationMVC.Models.cliente

@{
    ViewData["Title"] = "Crear Nuevo Cliente";
}

<h1>@ViewData["Title"]</h1>

<h4>Cliente</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="nombre_cliente" class="control-label"></label>
                <input asp-for="nombre_cliente" class="form-control" />
                <span asp-validation-for="nombre_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email_cliente" class="control-label"></label>
                <input asp-for="email_cliente" class="form-control" />
                <span asp-validation-for="email_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono_cliente" class="control-label"></label>
                <input asp-for="telefono_cliente" class="form-control" />
                <span asp-validation-for="telefono_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion_cliente" class="control-label"></label>
                <input asp-for="direccion_cliente" class="form-control" />
                <span asp-validation-for="direccion_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
