@model SionFashioWebApplicationMVC.Models.ciudade

@{
    ViewData["Title"] = "Delete City";
}

<h1>Delete City</h1>

<div class="card">
    <div class="card-header">
        <h4>Are you sure you want to delete this city?</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Nombre de la Ciudad</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.nombre_ciudad)</dd>

            <dt class="col-sm-3">Departamento</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.id_departamentoNavigation.nombre_departamento)</dd>
        </dl>
    </div>
    <div class="card-footer">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="id_ciudad" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}