@model SionFashioWebApplicationMVC.Models.ciudade

@{
    ViewData["Title"] = "City Details";
}

<h1>City Details</h1>

<div class="card">
    <div class="card-header">
        <h4>@Html.DisplayFor(model => model.nombre_ciudad)</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Nombre de la Ciudad</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.nombre_ciudad)</dd>

            <dt class="col-sm-3">Departamento</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.id_departamentoNavigation.nombre_departamento)</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.id_ciudad" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}