/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

/* Títulos */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-top: 30px;
}

/* Estilos del formulario */
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    max-width: 400px; /* Ancho máximo del formulario */
}

/* Estilos de los inputs */
form input[type="number"],
form input[type="date"],
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.2s;
}

form input[type="number"]:focus,
form input[type="date"]:focus,
form select:focus {
    border-color: #007bff; /* Azul en foco */
}

/* Estilos del botón */
button {
    background-color: #28a745; /* Color verde */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #218838; /* Verde más oscuro en hover */
}

/* Estilos de la lista */
ul {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0;
}

li {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333; /* Asegúrate de que el color sea visible */
}

/* Estilos de los botones dentro de la lista */
li button {
    background-color: #007bff; /* Color azul para editar */
    padding: 5px 10px;
    font-size: 14px;
    margin-left: 5px;
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer;
}

li button:hover {
    background-color: #0056b3; /* Azul más oscuro en hover */
}

li button:nth-of-type(2) {
    background-color: #dc3545; /* Color rojo para eliminar */
}

li button:nth-of-type(2):hover {
    background-color: #c82333; /* Rojo más oscuro en hover */
}

/* Estilo para mensajes de error */
.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}

/* Estilo para el estado de carga */
.loading-message {
    text-align: center;
    font-size: 18px;
    color: #555;
}
