@model SionFashioWebApplicationMVC.Models.paise

@{
    ViewData["Title"] = "Detalles del País";
}

<h1>Detalles del País</h1>

<div>
    <h4>Información del país</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre del País
        </dt>
        <dd class="col-sm-10">
            @Model.nombre_pais
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.id_pais" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Regresar al listado</a>
</div>

<form asp-action="Delete" asp-route-id="@Model.id_pais" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
