@model SionFashioWebApplicationMVC.Models.ViewModels.RolViewModel

<h2>Crear Role</h2>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Role Name</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">
        <i class="bi bi-check-circle"></i> Create
    </button>
    <a asp-action="Index" class="btn btn-secondary"> Volver a la Lista </a>

</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}