@model SionFashioWebApplicationMVC.Models.role

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="card">
    <div class="card-header">
        Detalles de la ciuadad
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Rol</dt>
            <dd class="col-sm-9">@Html.DisplayNameFor(model => model.nombre_rol)</dd>

            <dt class="col-sm-3">Descripcion</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.descripcion_rol)</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.id_rol" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>