@model SionFashioWebApplicationMVC.Models.role

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_rol" />
            <div class="form-group">
                <h6>Rol</h6>
                <input asp-for="nombre_rol" class="form-control" />
                <span asp-validation-for="nombre_rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h6>Descripcion del rol</h6>
                <input asp-for="descripcion_rol" class="form-control" />
                <span asp-validation-for="descripcion_rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
