@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}



<h2>Roles: </h2>

<a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Crear Rol</a>

<table id="rolesTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-primary">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger delete-button">
                            <i class="bi bi-trash-fill"></i> Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        }
        
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            // Inicializar DataTables en la tabla de roles
            $('#rolesTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
                }
            });

            // Funcionalidad de confirmación de eliminación con SweetAlert2
            document.querySelectorAll('.delete-button').forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    const form = this.closest('form');

                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: "¡No podrás revertir esto!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: '¡Sí, bórralo!',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            form.submit();
                        }
                    });
                });
            });
        });

        // Mostrar el mensaje de éxito si se eliminó correctamente un rol
        @if (Context.Request.Query.ContainsKey("deletionSuccess"))
        {
            <text>
                    $(document).ready(function () {
                        Swal.fire({
                            title: "¡Eliminado!",
                            text: "El rol ha sido eliminado correctamente.",
                            icon: "success"
                        });
                        });
            </text>
        }
    </script>
}
