@model SionFashioWebApplicationMVC.Models.categoria

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h6>Nombre de la categoria principal</h6>
                <input asp-for="nombre_categoria" class="form-control" placeholder="Ingrese nombre de la categoria" />
                <span asp-validation-for="nombre_categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary mt-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
