/* Archivo: styles.css */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-container h3 {
    font-size: 3rem;
    color: #007832;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.box-container h5 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.box-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
}

.divider {
    width: 80%;
    margin: 40px 0;
    border-top: 2px solid #ccc;
}

.additional-info {
    font-size: 1rem;
    color: #777;
    margin-top: 20px;
    text-align: center;
}
