@model SionFashioWebApplicationMVC.Models.ordenes_producto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ordenes_producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_orden_compra" class="control-label"></label>
                <select asp-for="id_orden_compra" class ="form-control" asp-items="ViewBag.id_orden_compra"></select>
            </div>
            <div class="form-group">
                <label asp-for="id_producto" class="control-label"></label>
                <select asp-for="id_producto" class ="form-control" asp-items="ViewBag.id_producto"></select>
            </div>
            <div class="form-group">
                <label asp-for="cantidad" class="control-label"></label>
                <input asp-for="cantidad" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
